@media screen and (max-width: 800px) {
    .app {
      width: 100vw;
      min-height: 100vh;
    }
  
    .page-container {
      max-width: 90vw;
      height: 90vh;
      overflow-wrap: break-word;
      align-self: center;
    }
  
    .task-container{
      height: 100%;
    }
  
    .task-container {
      overflow-x: scroll;
    }
  
    .table-body td {
      font-size: small;
      padding: 0.5rem;
    }
  }