@media screen and (max-width:500px) {
    .App {
        flex-direction: column;
    }

    .menu-options {
        margin-top: 2rem;
    }

    .sideBar {
        width: 90%;
        padding: 1rem 0.5rem;
    }

    .sideBar .menuBtn {
        position: initial;
    }

    .menu-heading {
        height: 5px;
    }

    .hide {
        display: none;
    }

    #barsIcon::before {
        margin: 5px 10px 0 0;
    }

    .weeklyRecordContainer,
    .AssessmentTablesContainer {
        width: 93vw;
        height: 90vh;
    }

}

@media screen and (min-width:501px) {
     .sideBar-hidden {
        margin-left: -15%;

    }
}
